{% extends "report_builder/base.html" %}
{% load static %}

{% block report_header %}
    <meta charset="utf-8">
    <title>Django Report Builder</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <base href="{% url 'report_builder' %}">
{% endblock %}

{% block content %}
    {% if not STATIC_URL %}
        <p>Please add 'django.core.context_processors.static' to context_processors in settings.py</p>
    {% endif %}
    <app-root></app-root>
    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/polyfills-es2015.js" %}"></script>
    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/runtime-es2015.js" %}"></script>
    <link rel="stylesheet" href="{{ AFFILIATE_PREFIX }}{% static 'report_builder/styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/main-es2015.js" %}"></script>

    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/polyfills-es5.js" %}"></script>
    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/runtime-es5.js" %}"></script>
    <script type="text/javascript" src="{{ AFFILIATE_PREFIX }}{% static "js/report_builder/main-es5.js" %}"></script>
{% endblock %}
